#Create a file name env.properties in the same directory and adapt the above properties to what you need

# you can put anything here
JWT_SECRET=

# you can put "anything" here
DB_DATABASE=localhost:3306/ambienteseTest
# you need to put your mysql username and password here
DB_USERNAME=root
DB_PASSWORD=root

# if you want to use this, you need to create soem type of validation, for example, a app password in your gmail account
EMAIL=
EMAIL_APP_PASSWORD=
EMAIL_HOST=
EMAIL_PORT=