.content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 80px);
    overflow: hidden;
}

.divPerg {
    width: 100%;
    max-height: 84%;
    overflow: auto;
    margin-bottom: 1%;
}

.divPerg::-webkit-scrollbar {
    width: 0px;
}

.tablePerg {
    width: 90%;
    margin-left: 5%;
    margin-top: 1%;
    border-collapse: collapse;
}

.perg {
    text-align: center;
    font-size: 20px;
    background-color: white;
}

.divAddPerg, .divEditPerg, .divDeletePerg {
    display: none;
    width: 25%;
    height: 35%;
    padding: 15px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.divDeletePerg {
    width: 20%;
    height: auto;
}

.containerAddPerg, .containerEditPerg {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divBtnDeletePerg {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnsDelete {
    width: 30%;
    height: 45%;
    background-color: white;
    border: 1px solid gray;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
}

.btnsPerg {
    width: 30%;
    height: 50%;
    background-color: white;
    border: 1px solid gray;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
}

#perguntaAdd, #perguntaEdit{
    resize: none;
    font-size: 18px;
    height: 60%;
}

#eixoPergAdd, #eixoPergEdit {
    font-size: 18px;
}

.rowsPerg {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.divAddBtnPerg, .divEditBtnPerg {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}