.content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 80px);
    overflow: hidden;
}

.box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxForgot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.boxForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.divInput {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.inputStyle {
    height: 25px;
    color: black;
    font-size: 16px;
    background-color: transparent;
    border: 1px solid black;
}

.forgotPass {
    font-size: 14px;
    margin-top: 2px;
    color: black;
    cursor: pointer;
    text-align: end;
}

.divBtns {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.confirmBtn {
    width: 200px;
    height: 70px;
    background-color: #0077C8;
    color: white;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.confirmBtn:hover {
    background-color: #00659b;
}

.backToLogin {
    font-size: 14px;
    margin-top: 2px;
    color: black;
    cursor: pointer;
    text-align: end;
}

.hidden {
    display: none;
}