.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 80px);
}

/* side content */
.content-container .side-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    padding: 20px 20px 0 20px;
}

.content-container .side-content .top3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    width: 50%;
    margin-bottom: 20px;
}

.content-container .side-content .place-1,
.content-container .side-content .place-2,
.content-container .side-content .place-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid var(--main-blue);
    line-height: 1.2;
}

.content-container .side-content .place-1:hover,
.content-container .side-content .place-2:hover,
.content-container .side-content .place-3:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.content-container .side-content .place-1 {
    height: 25vh;
}

.content-container .side-content .place-2 {
    height: 20vh;
}

.content-container .side-content .place-3 {
    height: 17.5vh;
}

.content-container .side-content .place-1 .company-name,
.content-container .side-content .place-2 .company-name,
.content-container .side-content .place-3 .company-name {
    font-size: 24px;
    text-align: center;
    font-weight: normal;
}

.content-container .side-content .place-1 .place-1-title,
.content-container .side-content .place-1 .branch,
.content-container .side-content .place-2 .place-2-title,
.content-container .side-content .place-2 .branch,
.content-container .side-content .place-3 .place-3-title,
.content-container .side-content .place-3 .branch {
    font-size: 16px;
    font-weight: bold;
}

.content-container .side-content .top3 .medal-icon {
    width: 50px;
    height: 50px;
}

.content-container .side-content .options {
    display: flex;
    width: 50%;
    align-self: end;
}

.content-container .side-content .ramo-dropdown,
.content-container .side-content .porte-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-bottom: 10px;
    margin-right: 20px;
    padding: 10px;
    border-radius: 10px;
    border-color: 2px solid var(--main-blue);
}

.content-container .side-content .ramo-dropdown select,
.content-container .side-content .porte-dropdown select {
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid var(--main-blue);
    font-size: large;
}

.content-container .side-content .search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.content-container .side-content .search .search-bar {
    flex-grow: 1;
    height: 100%;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    border: 2px solid var(--main-blue);
    background-color: #fff;
    font-size: large;
    box-sizing: border-box;
}

.content-container .side-content .search .search-button {
    flex-grow: 0;
    width: auto;
    height: 100%;
    padding: 5px;
    border-radius: 0 5px 5px 0;
    border: 2px solid var(--main-blue);
    border-left: none;
    background-color: #fff;
    color: var(--main-blue);
    font-size: large;
    cursor: pointer;
    box-sizing: border-box;
}

/* ranking table */
.content-container .ranking-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.content-container .ranking-content .ranking-table-container {
    flex-grow: 1;
}

.content-container .ranking-content .ranking-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid var(--main-blue);
    font-size: large;
}

.content-container .ranking-content .ranking-table tbody {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
}
.content-container .ranking-content .ranking-table tbody::-webkit-scrollbar {
    width: 0px;
}

.content-container .ranking-content .ranking-table tbody tr {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 20px;
    border-bottom: 2px solid var(--gray);
}

.content-container .ranking-content .ranking-table tbody tr.even-row {
    background-color: #c2dff2;
}

.content-container .ranking-content .ranking-table tbody tr.odd-row {
    background-color: #fff;
}

.content-container .ranking-content .ranking-table tbody tr td.ranking {
    width: 45%;
    text-align: left;
}

.content-container .ranking-content .ranking-table tbody tr td.branch {
    width: 25%;
    text-align: left;
}

.content-container .ranking-content .ranking-table tbody tr td.size {
    width: 30%;
    text-align: right;
}

.content-container .ranking-content .ranking-table tbody tr td.pdf-img {
    width: 5%;
    text-align: center;
    cursor: pointer;
}

.content-container .ranking-content .ranking-table tbody tr td.pdf-img img {
    width: 30px;
    height: 60px;
}

.content-container .ranking-content .btns-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 80%;
    margin: 10px 0;
}

.content-container .ranking-content .btns-page .btn-prev,
.content-container .ranking-content .btns-page .btn-next {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    border-radius: 10px;
    background-color: var(--white);
    color: #fff;
    font-size: large;
    cursor: pointer;
    border: none;
    padding: 0;
}

.content-container .ranking-content .btns-page .btn-prev:hover,
.content-container .ranking-content .btns-page .btn-next:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.content-container .ranking-content .btns-page .btn-prev.disabled,
.content-container .ranking-content .btns-page .btn-next.disabled {
    background-color: gray;
    cursor: not-allowed;
}

.content-container .ranking-content .btns-page .btn-prev.disabled .arrow-icon,
.content-container .ranking-content .btns-page .btn-next.disabled .arrow-icon {
    filter: grayscale(100%) brightness(180%) saturate(100%);
    opacity: 1;
}