<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Forgot-password | Ambiente-se </title>
    <link rel="shortcut icon" th:href="@{/icons/favicon.png}"/>
</head>
<body>
<content>
    <div class="content-container">
        <div class="box">
            <div class="boxForgot">
                <h1 style="text-align: center; font-size: 40px; font-weight: bold;">Recupere sua senha</h1>
                <form class="boxForm" id="forgot">
                    <div class="inputs">
                        <div class="divInput">
                            <label for="email" style="font-size: 20px; font-weight: lighter; color: rgb(104, 104, 104);">Email</label>
                            <input type="text" class="inputStyle" name="email" id="email">
                        </div>
                    </div>
                    <div class="divBtns">
                        <button class="confirmBtn" id="sendEmail">Enviar email de confirmação</button>
                    </div>
                </form>
                <form class="boxForm hidden" id=recovery>
                    <div class="inputs">
                        <div class="divInput">
                            <label for="recoveryCode" style="font-size: 20px; font-weight: lighter; color: rgb(104, 104, 104);">Código de recuperação</label>
                            <input type="text" class="inputStyle" name="recoveryCode" id="recoveryCode">
                        </div>
                        <div class="divInput">
                            <label for="newPassword" style="font-size: 20px; font-weight: lighter; color: rgb(104, 104, 104);">Nova senha</label>
                            <input type="password" class="inputStyle" name="newPassword" id="newPassword">
                        </div>
                        <div class="divInput">
                            <label for="confirmPassword" style="font-size: 20px; font-weight: lighter; color: rgb(104, 104, 104);">Confirme a nova senha</label>
                            <input type="password" class="inputStyle" name="confirmPassword" id="confirmPassword">
                        </div>
                    </div>
                    <div class="divBtns">
                        <button class="confirmBtn" id="confirmReset">Alterar senha</button>
                    </div>
                </form>

                <span class="backToLogin" id="backToLogin"><u>Voltar a tela de login</u></span>
            </div>
        </div>
    </div>
</content>

<styles>
    <link rel="stylesheet" th:href="@{/styles/pages/forgot-password.css}"/>
</styles>
</body>
</html>