.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.loading.hidden {
    display: none;
}

.loader-dot {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 35px;
    animation: 1s load-spinner infinite;
    animation-timing-function: ease-in-out;
    background: white;
}

.loader-dot-one {
    background-color: var(--gray);
    animation-delay: 0.2s;
}

.loader-dot-two {
    background-color: var(--gray);
    animation-delay: 0.4s;
}

.loader-dot-three {
    background-color: var(--gray);
    animation-delay: 0.6s;
}


@keyframes load-spinner {
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}