body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: calc(100vh - 80px);
}

header {
    width: 100%;
    height: 80px;
    background-color: var(--main-blue);
}

.frame {
    width: 100%;
    height: 100%;
}

.main-content {
    width: 100%;
    height: 100%;
}

.main-content.hidden {
    display: none;
}