.main .expand-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-blue);
    width: 50px;
    height: 50px;
    border-radius: 0 0 20px 0;
    cursor: pointer;
    transition: width 0.5s;
}

.main .expand-menu img {
    transition: transform 0.5s;
}

.main .expand-menu.active img {
    margin-right: 15px;
    scale: 1.3;
    transform: rotate(180deg);
}

.main .expand-menu.active {
    width: 300px;
    border-radius: 0;
    justify-content: end;
    transition: width 0.5s;
}

.main .sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    color: var(--white);
    z-index: 10;
}

.main .sidebar .menu {
    display: none;
    padding-left: 15px;
    overflow: hidden;
}

.main .sidebar .menu ul {
    width: 100%;
}

.main .sidebar .menu .main-list li,
.main .sidebar .menu .login-logout {
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
    line-height: 1.4;
}

.main .sidebar .menu .login-logout {
    position: absolute;
    bottom: 20vh;
    width: 95%;
    list-style: none;
}

.main .sidebar .menu li:hover,
.main .sidebar .menu .login-logout:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.main .sidebar .menu .main-list li.active {
    background-color: rgba(0, 0, 0, 0.4);
}

.main .sidebar .menu .main-list .sub-list {
    display: none;
    padding-left: 20px;
}

.main .sidebar .menu .main-list .sub-list.show {
    display: block;
}

.main .sidebar .menu .main-list .sub-list li {
    font-size: 1.5em;
    font-weight: lighter;
    line-height: 1.1;
}

.main .sidebar .menu.expanded {
    background-color: var(--main-blue);
    display: flex;
    flex-direction: column;
    height: 100vh;
}
